@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400|Playfair+Display:400,700,400italic|Libre+Baskerville:400,700,400italic|Muli:300,400|Open+Sans:400,300,700|Oswald:400,700|Raleway:400,100,300,700|Montserrat:400,700|Merriweather:400,300,300italic,400italic,700|Bree+Serif|Vollkorn:400italic,400,700|Abril+Fatface|Cardo:400,400italic);

.weighted {
	font-weight: bold;
}
.widget-header {  }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-top: 0;
	display: inline-block;
	position: relative;
}
.header-page-title{
	background: #514A9D;
	padding: 10px;
	border-radius: 5px;
	color: #FFF;
	text-align: center;
}

